{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="logo-alcool-info">
    <img src="{{ asset('assets/images/alcool-info-service-logo.png') }}" alt="">
</div>

{% endblock %}