{% extends 'base.html.twig' %}

{% block title %}Pourquoi s'enregistrer ?{% endblock %}

{% block metadescription %}
<meta name="description"
    content="Pourquoi s'enregistrer sur monpoison.fr ?">
{% endblock %}

{% block body %}

<div class="container">
<h1>Pourquoi créer un compte ?</h1>
<br>
<p>
    Créer un compte sur monpoison.fr vous permettra d'accéder à des outils tels que : la gestion de vos consommations au quotidien, des statistiques détaillées sur vos habitudes, le budget alloué à l'alcool, votre pourcentage de sobriété etc.
    <br>
    <br>
    L'outil de suivi des boissons consommées, leur quantité, et leur coût est utilisé par bon nombre de médecins addictologues pour aider les personnes alcoolo-dépendantes à prendre du recul sur leur degré de dépendances et ainsi ajuster leur consommation d'alcool.
    <br>
    <br>
    <img src="{{ asset('assets/images/monsuivi.png') }}" alt="suivi de consommations d'alcool" class="why-img">
</p>
<br>
<br>
<h2>C'est tout ?</h2>
<p>
    Non ! Afin d<br>'aider au mieux les personnes dans leur maladie, des outils ont été conçus pour peser le pour et le contre sur le fait de boire, ou encore se fixer des objectifs à atteindre afin de renforcer leur motivation.
</p>
<br><br>
<h2>C'est gratuit ? </h2>
<p>Oui, l'accès à tous les outils est totalement gratuit.</p>
<br>
<br>
<h2>Que fait monpoison.fr de mes données ?</h2>
<p>
    Les données collectées n'ont pour but que de sauvegarder les données des utilisateurs et sont utilisées pour créer anonymement des statistiques POUR les utilisateurs. Aucune  donnée n'est ni vendue ni divulguée à quiconque.
</p>
<br><br>
<h2>En quoi tout cela va m'aider ?</h2>
<p>
    Il va s'en dire que votre volonté sera maîtresse de votre guérison. Mais le fait de suivre ses consommations au quotidien, d'étudier les avantages et inconvénients à boire et de se fixer des objectifs vous aidera à suivre de près l'évolution de votre maladie. Car oui l'alcoolisme est une maladie ; et cette application a pour but de vous aider à la combattre !
</p>
</div>
<br><br>
<center>
    <img src="{{ asset("assets/images/icon512.png") }}">
</center>

{% endblock %}