{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire{% endblock %}

{% block body %}
<br><br>
<div class="container">
    <h1>Modifier le commentaire</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('comment/_delete_form.html.twig') }}
</div>
{% endblock %}