{% extends 'base.html.twig' %}

{% block title %}Editer mon témoignages{% endblock %}

{% block body %}

<br><br>
<div class="container">

    <h1>Modifier mon témoignage</h1>
    
    {{ include('testimonials/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    
    <a href="{{ path('testimonials_index') }}">Retour à la liste de témoignages</a>
    
    <h2>Supprimer mon témoignage</h2>
    {{ include('testimonials/_delete_form.html.twig') }}
</div>
{% endblock %}
