<footer class="">
    <br>
    <div>
        <a href="{{ path('cgu') }}" title="conditions générales d'utilisation">CGU</a>
        <a href="https://www.alcool-info-service.fr/" title="alcool info service" target="_blank" rel="noreferrer">Alcool info service</a>
        <p>&copy; monpoison.fr - 2022</p>
    </div>
</footer>