<footer class="">
    <br>
    <div>
        <a href="{{ path('cgu') }}" title="conditions générales d'utilisation">CGU</a>
        <a href="{{ path('why_register') }}" title="pourquoi créer un compte">Pourquoi s'enregistrer ?</a>
        <p>&copy; monpoison.fr - 2022</p>
    </div>
    <div>
        <a href="https://play.google.com/store/apps/details?id=fr.monpoison.twa&gl=FR" target="_blank">
            <img src ='{{ asset('assets/images/googleplay.png') }}'
        </a>
    </div>
</footer>