<footer>
    <br><br>
    <div class="d-flex justify-content-around">
        <a href="{{ path('cgu') }}" title="conditions générales d'utilisation">CGU</a>
        <p>Copyright monpoison.fr - 2022</p>
        <a href="https://www.alcool-info-service.fr/" title="alcool info service" target="_blank">Alcool info service</a>
    </div>
</footer>