@import "./responsive";

:root {
	--body-bg: url("../images/cocktail-bg.webp") no-repeat fixed;
	--body-bg-small: url("../images/cocktail-bg-small.webp") no-repeat fixed;
	--transparent: rgba(255, 255, 255, 0);
	--semi-transparent: #3f3f3f40;
	--alert: #0a0a0ad0;
	--btn-color: #312e29a4;
	--hover-color: #e78d06;
	--card-header: #00000069;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
label,
input,
.required,
.input-textarea,
.span-italic,
.nav-link,
.infos,
table,
select,
ul li {
	font-family: "Comfortaa", cursive;
	color: wheat !important;
	text-shadow: 3px 1px 6px rgb(7, 7, 7);
}

body {
	height: 100vh;
	background: var(--body-bg);
	background-size: cover;
	@include xs {
		background: var(--body-bg-small);
		background-size: cover;
	}
	@include sm {
		background: var(--body-bg-small);
		background-size: cover;
	}
}

body,
html {
	position: relative;
	height: 100%;
}

.alert,
.alert-success {
	background-color: var(--alert);
	border: none;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1200;
	font-size: 2.5em;
	@include xs {
		font-size: 1.8em;
	}
	@include sm {
		font-size: 1.8em;
	}
}

#remember_me,
#registration_form_agreeTerms {
	width: inherit !important;
}

ul li {
	list-style-type: none;
	margin-bottom: 5px;
}

table tr td {
	font-size: 1.3em;
	font-weight: bold;
}

a:hover {
	color: white !important;
}

.span-italic {
	font-style: italic;
}

p {
	word-wrap: break-word;
}

blockquote p::before {
	content: "\201C";
}

blockquote p::after {
	content: "\201D";
}

.modal-open {
	color: wheat;
}

/*********************
BUTTONS
*********************/
.btn:active,
.btn:focus {
	border: none;
	outline: none;
}

.custom-btn,
.btn-danger {
	display: inline-block;
	text-decoration: none;
	border: none;
	padding: 0.45rem 0.45rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	transition: all 0.1s;
	position: relative;
	box-shadow: black 0 0 5px 3px;
	z-index: 1;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--btn-color);
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: var(--hover-color);
		transition: all 0.1s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		box-shadow: black 0 0 2px 1px;
		&:before {
			width: 100%;
		}
	}
}
.custom-btn-left,
.custom-btn-right,
.twitter-share-button {
	padding: 0;
}

.btn-settings,
.btn-danger.btn-settings {
	font-size: 2em !important;
}

button[type="submit"],
button.custom-btn {
	background-color: var(--btn-color);
}

#toTop {
	display: inline-block;
	text-decoration: none;
	background-color: var(--hover-color);
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#toTop::after {
	content: "\2191";
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}
#toTop:hover {
	cursor: pointer;
	background-color: var(--semi-transparent);
}
#toTop:active {
	background-color: #555;
}
#toTop.show {
	opacity: 1;
	visibility: visible;
}

#btnWelcomeModal {
	visibility: hidden;
}

#welcomeModal {
	overflow-y: auto;
}

/*********************
NAV MENU
*********************/
.navbar {
	background-color: var(--semi-transparent) !important;
	box-shadow: black 0 0 7px 1px;
}
.navbar-toggler {
	color: white !important;
	outline: none !important;
	border: none !important;
	transition: ease 0.2s;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

.collapsed {
	transform: rotate(90deg) !important;
	transition: ease 0.2s;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.726) !important;
}

.dropdown-menu.show {
	top: 57px;
	border-radius: 0 0 20px 20px;
}

.nav-item {
	margin-left: 50px;
}

.nav-link {
	&:hover {
		color: var(--hover-color) !important;
	}
}

.nav-item,
.dropdown-item {
	font-size: 1.3em;
}

.dropdown-item:hover {
	background-color: rgb(29, 29, 29) !important;
}

.dropdown-toggle::after {
	border-top: 0;
}

/*********************
SOCIALS ICONS
*********************/
.social-icons {
	position: fixed;
	margin: 1.5%;
	top: 70%;
	z-index: 600;
	display: flex;
	flex-direction: column;
	img {
		width: 65px;
		height: 65px;
		@include xs {
			width: 35px;
			height: 35px;
			margin: -2%;
		}
		@include sm {
			width: 35px;
			height: 35px;
			margin: -2%;
		}
	}
	@include xs {
		position: absolute;
		top: 46px;
		width: 100%;
		justify-content: space-evenly;
		flex-direction: row;
	}
	@include sm {
		position: absolute;
		top: 46px;
		width: 100%;
		justify-content: space-evenly;
		flex-direction: row;
	}
}

.social-twitter-img,
.social-fb-img {
	transition: ease-in-out 0.2s;
}
.social-twitter-img:hover,
.social-fb-img:hover {
	transform: rotate(45deg);
	transition: ease-in-out 0.2s;
}

/**********************
CONTAINER
**********************/
.logo-alcool-info {
	text-align: center;
}

.logo-alcool-info img {
	width: 50%;
	@include xs {
		width: 70%;
	}
	@include sm {
		width: 70%;
	}
}

.container {
	background-color: var(--semi-transparent);
	box-shadow: black 0 0 7px 1px;
	backdrop-filter: blur(4px);
	border-radius: 15px;
	padding: 20px;
	width: 82%;
	@include xs {
		width: 100%;
	}
	@include sm {
		width: 100%;
	}
}

.container p img {
	width: -webkit-fill-available;
	width: fill-available;
	height: auto;
	box-shadow: black 0 0 7px 1px;
	@include xs {
		width: 320px !important;
	}

	@include sm {
		width: 320px !important;
	}
}

.container-center {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/**********************
SOCIAL ICON & DIV ICON
**********************/
.social-wrapper {
	display: flex;
	justify-content: space-around;
}

.alcool-png {
	width: 35px;
	height: 35px;
}

.social-img {
	width: 62px;
	height: 62px;
}

.social-div {
	background: #00000082;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	height: 64px;
	border-radius: 20px;
	box-shadow: inset black 0 0 5px 3px;
	transition: ease-in-out 0.2s;
	&:hover {
		background: var(--hover-color);
		box-shadow: inset black 0 0 1px 1px;
	}
}

/**********************
HOMEPAGE
**********************/
.big-text {
	width: 60%;
	margin-top: 2em;
	webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.big-text h1 {
	font-size: 8em;
	text-transform: uppercase;
	line-height: 1.1em;
	font-weight: bold;
	@include xs {
		font-size: 3.2em;
	}
	@include sm {
		font-size: 3.2em;
	}
}

.home-text {
	text-align: justify;
	font-size: 1.2em;
}

/**********************
ALCOOL FORM
**********************/
form[name="alcool_test"] {
	font-size: 1.3em;
	@include xs {
		font-size: 1.5em !important;
	}
	@include sm {
		font-size: 1.5em !important;
	}
}

select,
select option {
	background: rgba(3, 3, 3, 0.849);
}

/**********************
SOBER
**********************/
.sober-card {
	overflow-y: scroll !important;
}

/**********************
DRINK FORM 
**********************/
form[name="drink"] {
	margin: auto;
	width: 90%;
}
.msf_hide {
	display: none;
}
.msf_show {
	display: block;
	font-size: 1.9em;
	text-align: center;
}
.msf_bullet_o {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.msf_bullet_o > div {
	height: 15px;
	width: 15px;
	margin: 20px 10px;
	border-radius: 100px;
	z-index: 2;
}
.msf_bullet {
	background-color: lightgrey;
}
.msf_bullet_active {
	background-color: darkgrey !important;
}

.form_wrapper {
	min-width: 300px;
}
fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-flow: row wrap;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 30px;
	border-radius: 0px;
	border: none;
	padding: 10px 20px !important;
}
input,
.input-textarea {
	display: block;
	width: 100%;
	margin: 15px 0px;
	background-color: var(--semi-transparent);
}
.input-textarea {
	height: 150px;
}

.input[type="text"],
.input[type="password"] {
	outline: none;
	border: none;
	background-color: var(--semi-transparent);
	padding: 5px 0px !important;
	text-align: center;
	transition: all 250ms;
}

input[type="text"]:focus {
	opacity: 0.5;
}

input[type="button"],
input[type="submit"] {
	margin-top: 100px !important;
	cursor: pointer;
	outline: none;
	border: none;
	padding: 15px !important;
	line-height: 0px;
	transition: all 150ms;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;
}
input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: darkgrey;
	color: white;
}
h2 {
	text-align: center;
	//font-size: 22px;
	font-family: opensans;
	font-weight: 400;
	display: block;
	margin-bottom: 25px !important;
}

/**********************
MYCHART
**********************/
#myChart,
#myChart2 {
	width: 600px !important;
	height: 600px !important;
	margin: inherit;
	@include xs {
		width: 350px !important;
		height: 350px !important;
	}
	@include sm {
		width: 350px !important;
		height: 350px !important;
	}
}

/*SCORES*/
.greenScore {
	color: rgb(13, 189, 13) !important;
}

.middleScore {
	color: orange !important;
}

.hardScore {
	color: rgb(255, 51, 0) !important;
}

.dangerScore {
	color: red !important;
	font-weight: bold;
}

/*********************
CARD CONSO
*********************/
.card {
	height: 300px;
	width: 212px;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.75);
	background-color: #ffffff21;
	border-radius: 0 17px;
	&:hover {
		box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.75);
	}
	@include xs {
		width: 320px;
	}
	@include sm {
		width: 320px;
	}
}

.card-text {
	font-size: 1.5em;
}

.card-header {
	border-radius: 0 17px 0 0 !important;
	background: var(--card-header);
}

.card-header,
.card-body {
	text-align: center;
}

/*********************
REGISTRATION & LOGIN
*********************/
#registration_form_email,
#registration_form_plainPassword {
	background: var(--semi-transparent);
}

/*********************
FOOTER
*********************/
footer {
	position: relative;
	bottom: 0;
	clear: both;
	width: 100%;
	height: auto;
	background-color: var(--semi-transparent);
	box-shadow: black 0 0 7px 1px;
	margin-top: 50px;
}

footer div {
	display: flex;
	justify-content: space-around;
	@include xs {
		position: relative;
		flex-direction: column;
		padding: 1em;
	}
	@include sm {
		position: relative;
		flex-direction: column;
		padding: 1em;
	}
}

/**********************
PAGINATOR
**********************/
.pagination {
	justify-content: center;
}
.first,
.current,
.page,
.next,
.previous,
.last {
	padding-right: 0.6em;
	padding-left: 0.6em;
	font-size: 1.4em;
}

.current {
	font-size: 2em !important;
}
