{% extends 'base.html.twig' %}

{% block title %}Hello DrinkController!{% endblock %}

{% block body %}
<div class="row">
    <div class="container-center">
        {{ form(form) }}
    </div>
</div>
    
{% endblock %}
