<!-- Modal -->
<div class="modal fade" id="infoGoal" tabindex="-1" aria-labelledby="infoGoalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoGoalLabel">Exemples</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    name="close modal"></button>
            </div>
            <div class="modal-body">

                <ul>
                    <li>
                        Enlever un verre par jour
                    </li>
                    <li>
                        Retarder d'une heure mon premier verre
                    </li>
                    <li>
                        Boire de l'alcool moins fort
                    </li>
                    <li>
                        etc.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>