
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <a href="{{ path('post_delete', {'id': post.id}) }}" class="custom-btn" title="Supprimer l'article" onclick="return confirm('Voulez-vous vraiment supprimer cet article?');">Supprimer</a>