{% extends 'base.html.twig' %}

{% block title %}Souscription aux articles activées{% endblock %}

{% block body %}

<br><br>

<div class="container">
    <h1>Merci de vous être abonné(e) !</h1>
    <p>
        Vous serez désormais notifié par email à chaque publication d'un nouvel article. Vous pouvez vous désabonner à tout moment en cliquant <a href="{{ path('unsubscribe_posts') }}" title="Se désabonner des articles">ici</a> ou via <a href="{{ path('user_account') }}">la page de votre compte personnel</a>
    </p>
    <hr>
    <a href="{{ path('post_show', {'id':postId}) }}" class="custom-btn">Retourner à l'article</a>
</div>

{% endblock %}
