<!-- Modal -->
<div class="modal fade" id="modalEncour" tabindex="-1" aria-labelledby="modalEncourLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="modalEncour">Record d'abstinence</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    name="close modal"></button>
            </div>
            <div class="modal-body bg-dark">
               <p>{{ encouragement }}</p>
            </div>
        </div>
    </div>
</div>