{% extends 'base.html.twig' %}
{% block title %}Résultat du test{% endblock %}

{% block body %}

<br><br>

<div class="container">
    {% set scoreStatus = null %}
    {% set message = null %}
    {% if score > 0.8 %}
        {% set scoreStatus = 'hardScore' %}
        {% set message = "Selon l’article L243-1 du Code de la route, conduire un véhicule avec ce taux d'alcoolémie est passible de deux ans d'emprisonnement, 45000€ d'amende et la peine complémentaire encourue peut être une suspension du permis de conduire pour une durée de trois ans au plus." %}
    {% elseif score >= 0.5 and score < 0.8 %}
        {% set scoreStatus = 'middleScore' %}
        {% set message = "Conduire avec ce taux d'alcoolémie entraîne une contravention de quatrième classe assortie d'un retrait de six points sur le permis de conduire." %}
    {% elseif score < 0.50 %}
        {% set scoreStatus = 'greenScore' %}
        {% set message = "Avec ce taux d'alcoolémie inférieure 0.5g/L vous pouvez prendre la route, prudemment toutefois. L'acool diminue la vigilance. Attention ! Pour les permis probatoire le seuil maximal autorisé est limité à 0.25g/L. Pour exemple, ce taux correspond environ à une bière de 25cl à 5.5° pour un homme de 76 kg." %}
    {% endif %}
    
    <h1>Votre taux d'alcoolémie est de <span class="{{ scoreStatus }}"> {{ score|round(2, 'floor')}}g/L</span></h1>
    <br>
    <p>
        {{ message }}
    </p>

    <br><br>
    <h2>A quelle vitesse s'élimine l'alcool dans le sang ?</h2>
    <p>
        Le pic d'alcoolémie est en moyenne atteint une heure après le dernier verre consommé, si toutefois l'on n'est pas à jeun. Le cas échéant, ce pic est ramené à une quizaine de minute après le dernier verre.
    </p>
    <p>
        Il faut compter environ une à deux heures pour éliminer un seul verre d'alcool. Cette durée augmente selon le nombre de verres et à quelle vitesse ils ont été consommés.
    </p>
    <br><br>
    <h3>Attention</h3>
    <p class="span-italic">Ce test ne détermine pas si vous êtes apte à prendre le volant ou non, il n'a pour but que de vous fournir une estimation selon vos consommations.</p>
</div>

{% endblock %}