<!-- Modal -->
<div class="modal fade" id="infoArgument" tabindex="-1" aria-labelledby="infoArgumentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="infoArgumentLabel">Exemples</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    name="close modal"></button>
            </div>
            <div class="modal-body bg-dark">
                <h6>Avantages :</h6>
                <ul>
                    <li>
                        Cela permet de me détendre
                    </li>
                    <li>
                        J'oublie mes soucis le temps d'une heure ou deux
                    </li>
                    <li>
                        J'ai plus facile à engager la conversation
                    </li>
                </ul>
                <h6>Inconvénients :</h6>
                <ul>
                    <li>
                        Quand je commence je ne sais pas m'arrêter
                    </li>
                    <li>
                        Je dors moins bien si j'ai bu un verre de trop
                    </li>
                    <li>
                        Cela me coûte cher
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>