{% extends 'base.html.twig' %}

{% block title %}L'alcool en chiffres{% endblock %}

{% block body %}

<div class="container">
    <h1>L'alcool en chiffres</h1>
    <h2>L'alcool en France c'est...</h2>
    <p>
    <ul>
        <li>
            41 000 décès par an
        </li>
        <li>
            Seconde cause de mortalité évitable
        </li>
        <li>
            30 000 cancers par an
        </li>
        <li>
            16 000 décès par cancer et 9 900 décès par maladie cardiovasculaire chaque année
        </li>
        <li>
            13 Litres de consommation par an et par habitant
        </li>
        <li>
            Entre 1,2% et 3,1% des hommes passent aux urgences chaque année à cause de l'alcool, entre 0,3% et 1,4% pour
            les femmes.
        </li>
        <li>
            32,5% des 18-30 ans ont une consommation hebdomadaire
        </li>
        <li>
            14% des français consomment quotidiennement de l'alcool
        </li>
        <li>
            La France est classée 8ème pays européen en consommation d'alcool pur
        </li>
        <li>
            La France est producteur de 20% du vin mondial
        </li>
        <li>
            Les ménages français consacrent 17% des dépenses à l'alcool à domicile
        </li>
        <li>
            96% des foyers achètent de l'alcool
        </li>
        <li>
            Entre 2014 et 2017 64 millions de litres de vin ont été vendus pour un chiffre d’affaires de 964 millions
            d’€
        </li>
        <li>
            L'alcool est responsable d'au moins 20% des accidents mortels de la route
        </li>
        <li>
            La grande majorité (92%) des conducteurs alcoolisés impliqués dans un accident sont des hommes.
        </li>
        <li>
            Lors des nuits de week-ends et les jours fériés, l’alcool est présent dans près de 2 accidents mortels sur
            3.
        </li>
    </ul>
    </p>
</div>

{% endblock %}