{% extends 'base.html.twig' %}
{% block title %}Résultat du test{% endblock %}

{% block body %}

<div class="container">
    <h1>Votre score est de {{ score }}</h1>
    <p>
        {{ message }}
    </p>
</div>

{% endblock %}